body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1280px;
    margin: auto;
}

.no-scroll {
    overflow: hidden;
}


/* * slider sec start  */
.top-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 1;
}

.top-heading-all {
    position: relative;
}

.slider-image {
    position: relative;
}

.slider-image img {
    width: 100%;
    height: 100vh;
}


.logo a img {
    width: 216px;
    height: 40px;
    display: block;
}

.menu ul {
    display: flex;
}

.menu ul li a {
    padding: 20px;
    color: #fff;
    font-size: 16px;
}

.menu>ul>li:first-child>a {
    color: #E6282C;
}

.menu ul li a:hover {
    color: #E6282C;
}

.menu>ul>li:last-child a {
    font-size: 20px;
    font-weight: 400;
    border: 1px solid#fff;
    border-radius: 6px;
    margin-left: 100px;
    padding: 5px 10px;
}

.menu ul li {
    position: relative;
}

.menu ul li ul {
    position: absolute;
    left: 0;
    top: 35px;
    background: #000000;
    width: 170px;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    border-top: 2px solid#e6282c;
    transform: rotatex(-92deg);
    transform-origin: 0 0;
    transition: transform .8s, opacity .4s;
}

.menu ul li ul li a {
    display: block;
    padding: 14px 20px;
    font-size: 16px;
    transition: 0.2s all ease;
}

.menu ul li:hover ul {
    opacity: 1;
    visibility: visible;
    transform: rotateX(0);
}

.menu ul li ul li a:hover {
    color: #E6282C;
}

.slider-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider-text h1 {
    font-size: 60px;
    color: #fff;
    font-weight: 700;
}

.slider-text p {
    color: #fff;
    font-size: 20px;
    width: 62%;
    line-height: 30px;
    padding: 20px 0;
    margin: auto;
}

.slider-text ul li a {
    background: #E6282C;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
    margin: 20px 10px;
    display: block;
}

.slider-text ul li:last-child a {
    border: 1px solid#fff;
    border-radius: 6px;
    background: none;
}

.slider-text ul li:last-child a:hover {
    background: #E6282C;
    border: 1px solid#E6282C;
}

.slider-text ul {
    display: flex;
    justify-content: center;
}

/* * slider sec end  */



/* * card sec start  */
.card-werppar ul li span {
    font-size: 20px;
    font-weight: 500;
}

.card-werppar ul li h3 {
    font-size: 25px;
    padding: 15px 0;
    width: 40%;
    margin: auto;
}

.card-werppar ul li p {
    font-size: 16px;
    line-height: 20px;
    width: 65%;
    margin: auto;
}

.card-werppar ul li a {
    font-size: 20px;
    padding-top: 20px;
    display: block;
    color: #fff;
}

.card-werppar ul li {
    background: #72284B;
    width: 33.33%;
    color: #fff;
    text-align: center;
    padding: 50px 30px;
}

.card-werppar ul li:last-child {
    background: #FF6A25;
}

.card-werppar ul li:nth-child(2) {
    background: #E6282C;
}

.card-werppar ul {
    display: flex;
}

/* * card sec end  */



/* * about us sec start  */
.about-us span {
    font-size: 16px;
    color: #804E75;
}

.about-us h2 {
    font-size: 30px;
    width: 70%;
    line-height: 40px;
    padding: 30px 0;
}

.about-us p {
    font-size: 16px;
    color: #646464;
    line-height: 22px;
    padding-bottom: 30px;
}

.about-us a {
    color: #E6282C;
    font-size: 16px;
}

.about-us-image img {
    width: 100%;
    border: 20px solid#fff;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.6);
}

.about-us-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20px);
    margin-top: 80px;
}

.about-us {
    margin: 10px;
    width: 50%;
}

/* * about us sec end  */



/* * upcoming events sec start  */
.upcoming-events span {
    font-size: 16px;
    color: #835378;
}

.upcoming-events h2 {
    font-size: 30px;
    padding-top: 30px;
}

.upcoming-events {
    background: #D9D9D9;
    text-align: center;
    padding: 50px;
    margin-top: 80px
}

/* * upcoming events sec end  */



/* * what we do sec start  */
.what-we-do {
    text-align: center;
    margin-top: 80px;
}

.what-we-do span {
    font-size: 16px;
    color: #956C8B;
}

.what-we-do h2 {
    font-size: 30px;
    width: 60%;
    line-height: 40px;
    margin: auto;
    padding: 30px 0;
}

.what-we-do ul li h3 {
    font-size: 25px;
    color: #E6282C;
    padding: 20px 0;
}

.what-we-do ul li p {
    font-size: 16px;
    color: #808080;
    width: 60%;
    margin: auto;
    line-height: 22px;
}

.what-we-do ul li {
    width: calc(33% - 20px);
    margin: 10px;
    /* text-align: left; */
}

.what-we-do ul {
    display: flex;
    justify-content: space-between;
}

/* * what we do sec end  */



/* * improve life sec start  */
.improve-life-background {
    background: url(../images/improve-backgroun.png) no-repeat;
    background-size: cover;
}

.improve-life {
    text-align: center;
    color: #fff;
    width: 78%;
    margin: auto;
    padding: 150px 0;
    margin-top: 80px;
}

.improve-life h2 {
    font-size: 50px;
    font-family: 500;
}

.improve-life p {
    font-size: 20px;
    line-height: 30px;
    padding: 40px 0;
}

.improve-life a {
    font-size: 16px;
    background: #E6282C;
    padding: 10px;
    color: #fff;
    border-radius: 6px;
}

/* * improve life sec end  */



/* * info sec start  */
.info-background {
    background: #F8F8F8;
    padding: 50px;
}

.interesting-info {
    text-align: center;
}

.change-card ul li img {
    width: 100%;
    border: 20px solid #fff;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.4);
}

.interesting-info span {
    font-size: 16px;
    color: #84547A;
}

.interesting-info h2 {
    font-size: 30px;
    padding: 25px;
}

.change-card ul li h3 {
    font-size: 20px;
    padding-bottom: 20px;
}

.change-card ul li p {
    font-size: 16px;
}

.change-card ul li {
    background: #F8F8F8;
    text-align: left;
    width: calc(33% - 20px);
    margin: 10px;
}

.change-card ul li:hover {
    color: #E6282C;
}

.change-text {
    width: 70%;
    padding: 20px;
}

.change-card ul {
    display: flex;
    justify-content: space-between;
}

/* * info sec end  */



/* * follow sec start  */
.all-follow {
    margin-top: 80px;
}

.contact-from-background {
    background: url(../images/contact-from-background.png) no-repeat;
    width: 100%;
    background-size: cover;
    text-align: center;
    padding: 50px 0;
    margin-top: 60px;
}

.follow {
    text-align: center;
}

.follow span {
    font-size: 16px;
    color: #804E75;
}

.follow h2 {
    font-size: 30px;
    padding-top: 30px;
}

.contact-from span {
    font-size: 16px;
    color: #fff;
}

.contact-from h3 {
    font-size: 30px;
    padding: 30px 0;
    color: #fff;
}

.input-from input {
    padding: 10px;
    width: 100%;
    margin: 20px;
    background: transparent;
    border: 1px solid#fff;
}

.input-from {
    display: flex;
    justify-content: space-between;
}

.messsage textarea {
    border: 1px solid#fff;
    background: transparent;
    padding: 20px;
}

.contact-from a {
    font-size: 18px;
    border: 1px solid#fff;
    color: #fff;
    border-radius: 5px;
    padding: 8px 20px;
    margin-top: 20px;
    display: inline-block;
}

/* * follow sec end  */



/* * footer sec start  */

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-background {
    background: #201620;
    padding: 60px 0 20px 0;
}

.footer-logo {
    width: 33%;
    color: #fff;
}

.footer-logo img {
    width: 216px;
}

.footer-logo p {
    font-size: 16px;
    padding: 3px;
}

.logo-text {
    padding-top: 40px;
}

.recent-comments {
    width: 33%;
    color: #fff;
}

.recent-comments h3 {
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 30px;
    display: block;
}

.recent-comments p span {
    color: #E6282C;
}

.recent-comments p {
    font-size: 16px;
    padding: 5px;
}

.inbox {
    width: 33%;
    color: #fff;
}

.inbox h3 {
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 15px;
}

.inbox input {
    padding: 10px;
    width: 100%;
}

.subscribe a {
    font-size: 18px;
    background: #E6282C;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    margin-top: 10px;
}

.footer-icon img {
    width: 18px;
    margin: 8px;
    vertical-align: middle;
}

.right-reserved p {
    font-size: 16px;
    color: #fff;
}

.right-reserved {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

/* * footer sec end  */





















.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    width: 1000px;
    height: 600px;
    transform: translate(-50%, -50%);
    margin-top: 20px;
    display: none;
}

.modal-all-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.login {
    margin: 30px 40px;
}

.login h2 {
    font-size: 24px;
    font-weight: 500;
}

.login p {
    color: #5c5777;
    font-size: 15px;
    font-weight: 400;
    padding: 5px 0;
}


.sing-google {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 2px solid #e1e0e5;
    padding: 15px 30px;
    margin-top: 25px;
    /* margin: auto; */
    width: 305px;
}

.sing-google img {
    width: 20px;
}

.sing-google h3 {
    padding-left: 15px;
    font-weight: 500;
}



.login>h4 {
    font-size: 14px;
    /* text-align: center; */
    font-weight: 400;
    color: #837f9a;
    padding: 20px 0 30px 70px;
}



.email {
    padding-bottom: 30px;
}

.email h3 {
    font-size: 17px;
    padding-bottom: 10px;
    font-weight: 400;
}

.email h3 span {
    color: #533be7;
}

.email input {
    padding: 17px 15px;
    border-radius: 30px;
    border: 2px solid #e1e0e5;
    width: 100%;
}






.password h3 {
    font-size: 17px;
    padding-bottom: 10px;
    font-weight: 400;
}

.password h3 span {
    color: #533be7;
}

.password input {
    padding: 17px 15px;
    border-radius: 30px;
    border: 2px solid #e1e0e5;
    width: 100%;
}






.remember {
    display: flex;
    margin: 14px 0 25px 0;
}

.remember input {
    margin-right: 6px;
}

.remember h3 {
    padding-left: 60px;
    font-weight: 500;
    color: #533be7;
}





.login a {
    padding: 10px;
    width: 100%;
    display: inline-block;
    font-size: 17px;
    font-weight: 400;
    border-radius: 30px;
    background-color: #533be7;
    color: #fff;
    text-align: center;
    margin: 10px 0;
}

.login>h3 {
    font-size: 16px;
    padding: 14px 0;
    font-weight: 500;
}

.login h3 span {
    color: #533be7;
}







.login-right {
    background-color: #533be7;
    width: 510px;
    height: 600px;
    padding: 30px;
    position: relative;
    margin: 0 0 25px 105px;
}



.login-right-image {
    margin: 150px 28px 0;
}

.login-right-image img {
    height: 170px;
}




.rewards {
    position: absolute;
    top: 55px;
    right: 55px;
    background-color: #fff;
    padding: 10px;
}

.rewards-all {
    padding: 15px 45px;
    text-align: center;
}

.rewards-image img {
    width: 50px;
}

.rewards-image {
    padding: 15px;
    border-radius: 80px;
    background-color: #f1effc;
}

.rewards-all p {
    padding-top: 10px;
}


.login-right>h2 {
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin: auto;
    width: 150px;
    padding-top: 50px;
}

.login-right>p {
    color: #fff;
    width: 260px;
    padding-top: 10px;
    margin: auto;
    text-align: center;
    font-size: 14px;
}

.instra-logo img {
    width: 55px;
    border-radius: 50%;
}

.instra-logo {
    position: absolute;
    top: 33px;
    left: 188px;
}

.tiwter-logo img {
    width: 75px;
    border-radius: 50%;
}

.tiwter-logo {
    position: absolute;
    top: 80px;
    left: 57px;
}

.messagnger-icon img {
    height: 55px;
    border-radius: 50%;
}

.messagnger-icon {
    position: absolute;
    bottom: 250px;
    right: 70px;
}













/* * mobile sec start / mobile sec start /  mobile sec start / mobile sec start /  mobile sec start  */

.humbger-icon {
    display: none;
}

@media screen and (max-width:767px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }

    /* *top heding sec start  */
    .top-heading .menu {
        position: absolute;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1;
        display: none;
    }

    .menu ul {
        align-items: start;
        flex-direction: column;
        background: #000;
        width: 280px;
        box-shadow: var(--blog-shadow);
    }

    .menu ul li {
        padding: 18px 15px;
        border-bottom: 1px solid var(--light-gray);
        width: 100%;
    }

    .menu ul li:last-child a {
        display: none;

    }


    .humbger-icon {
        display: block;
    }

    .slider-image img {
        width: 100%;
        height: 550px;
    }

    .slider-text h1 {
        font-size: 30px;
        width: 100%;
    }

    .slider-text ul li a {
        margin: 10px;
    }

    .slider-text p {
        width: 90%;
        padding: 20px 0;
    }

    .slider-text ul li a {
        display: inline-block;
        padding: 10px 20px;
    }

    .slider-text {
        padding: 60px 0;
        width: 100%;
        top: 36%;
    }

    .slider-text ul {
        flex-direction: column;
    }

    /* * top-heading sec end  */

    /* * card sec start  */
    .card-werppar {
        margin-top: -346px;
    }

    .card-werppar ul {
        flex-direction: column;
    }

    .card-werppar ul li {
        width: 100%;
    }

    /* * card sec end  */

    /* * about us sec start  */
    .about-us-sec {
        flex-direction: column;
    }

    .about-us {
        width: 100%;
        padding-top: 25px;
        margin: 0;
    }

    .about-us h2 {
        width: 100%;
        padding: 15px 0;
    }

    /* * about us sec end  */
    /* * what we do sec start  */
    .what-we-do h2 {
        font-size: 25px;
        width: 100%;
        padding: 20px 0;
    }

    .what-we-do ul {
        flex-direction: column;
    }

    .what-we-do ul li {
        width: 100%;
        margin: 0;
    }

    .what-we-do ul li p {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    /* * what we do sec end  */

    .improve-life {
        width: 100%;
    }

    /* *interesting-info sec start  */
    .interesting-info h2 {
        width: 100%;
        padding: 20px 0;
    }

    .change-card ul {
        flex-direction: column;
    }

    .change-card ul li {
        width: 100%;
        margin: 0
    }

    .info-background {
        padding: 50px 0;
    }

    /* * interesting-info sec end  */

    /* * form sec start  */
    .input-from {
        flex-direction: column;
    }

    .input-from input {
        margin: 20px 0;
    }

    .messsage input {
        width: 100%;
        margin: 20px 0;
    }

    /* * form sec end  */
    /* * footer sec start  */
    .footer {
        flex-direction: column;
    }

    .footer-logo {
        width: 100%;
    }

    .logo-text {
        padding-top: 20px;
    }

    .recent-comments {
        width: 100%;
    }

    .recent-comments h3 {
        padding: 40px 0 10px 0;
    }

    .inbox {
        width: 100%;
    }

    .inbox h3 {
        padding: 40px 0 15px 0;
    }

    .right-reserved {
        flex-direction: column;
    }

    /* * footer sec end  */
}